In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,tasiilaq,GL,2020-11-09 22:23:59,65.61,-37.64,31.46,97,100,29.86
1,1,fairbanks,US,2020-11-09 22:20:19,64.84,-147.72,26.60,79,75,5.82
2,2,petropavlovskoye,RU,2020-11-09 22:30:46,52.07,84.11,37.33,76,100,12.50
3,3,upernavik,GL,2020-11-09 22:24:07,72.79,-56.15,1.47,82,46,6.91
4,4,new norfolk,AU,2020-11-09 22:23:56,-42.78,147.06,64.00,59,98,1.01

In [3]:
city_data_df.rename(columns={"Coounty":"Country"})

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,tasiilaq,GL,2020-11-09 22:23:59,65.61,-37.64,31.46,97,100,29.86
1,1,fairbanks,US,2020-11-09 22:20:19,64.84,-147.72,26.60,79,75,5.82
2,2,petropavlovskoye,RU,2020-11-09 22:30:46,52.07,84.11,37.33,76,100,12.50
3,3,upernavik,GL,2020-11-09 22:24:07,72.79,-56.15,1.47,82,46,6.91
4,4,new norfolk,AU,2020-11-09 22:23:56,-42.78,147.06,64.00,59,98,1.01
...,...,...,...,...,...,...,...,...,...,...
569,569,harnosand,SE,2020-11-09 22:34:16,62.63,17.94,37.00,100,81,2.24
570,570,ardakan,IR,2020-11-09 22:34:16,32.31,54.02,57.20,44,0,4.70
571,571,los llanos de aridane,ES,2020-11-09 22:34:16,28.66,-17.92,69.80,77,75,5.82
572,572,labuhan,ID,2020-11-09 22:25:42,-6.88,112.21,78.37,82,100,6.08
573,573,morondava,MG,2020-11-09 22:34:16,-20.28,44.28,77.32,85,2,3.85

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,bengkulu,ID,2020-11-09 22:30:47,-3.80,102.27,76.10,83,98,3.18
23,23,lazaro cardenas,MX,2020-11-09 22:25:40,17.96,-102.20,82.15,73,10,7.20
25,25,tucuman,AR,2020-11-09 22:30:51,-26.82,-65.22,82.40,45,75,12.75
29,29,kahului,US,2020-11-09 22:25:25,20.89,-156.47,89.60,46,40,25.28
33,33,avarua,CK,2020-11-09 22:23:53,-21.21,-159.78,80.60,78,17,14.99
36,36,butaritari,KI,2020-11-09 22:24:05,3.07,172.79,82.99,71,100,10.60
41,41,carutapera,BR,2020-11-09 22:30:53,-1.20,-46.02,79.25,83,100,6.02
43,43,kirakira,SB,2020-11-09 22:24:48,-10.45,161.92,84.11,76,41,6.20
46,46,atuona,PF,2020-11-09 22:24:24,-9.80,-139.03,78.42,68,30,10.98
52,52,robore,BO,2020-11-09 22:30:56,-18.33,-59.75,89.60,52,75,8.72

In [18]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
8          bengkulu      ID     76.10  -3.80  102.27
23  lazaro cardenas      MX     82.15  17.96 -102.20
25          tucuman      AR     82.40 -26.82  -65.22
29          kahului      US     89.60  20.89 -156.47
33           avarua      CK     80.60 -21.21 -159.78
36       butaritari      KI     82.99   3.07  172.79
41       carutapera      BR     79.25  -1.20  -46.02
43         kirakira      SB     84.11 -10.45  161.92
46           atuona      PF     78.42  -9.80 -139.03
52           robore      BO     89.60 -18.33  -59.75

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,bengkulu,ID,76.10,-3.80,102.27,Grage Hotel Bengkulu
23,lazaro cardenas,MX,82.15,17.96,-102.20,Collection O Hotel Quinta Antigua
25,tucuman,AR,82.40,-26.82,-65.22,Dallas Hotel Tucuman
29,kahului,US,89.60,20.89,-156.47,Maui Seaside Hotel
33,avarua,CK,80.60,-21.21,-159.78,Paradise Inn
36,butaritari,KI,82.99,3.07,172.79,Isles Sunset Lodge
41,carutapera,BR,79.25,-1.20,-46.02,Lidera
43,kirakira,SB,84.11,-10.45,161.92,SanBiz Lodge
46,atuona,PF,78.42,-9.80,-139.03,Villa Enata
52,robore,BO,89.60,-18.33,-59.75,Hotel Las Lajas

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))